.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width:$desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

  }

  &__item {
    @include flex_center;
    justify-content: center;

  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 210px;

    border: 1px solid;
    border-radius: 4px;

    color: $color-icon-primary;
    transition: color 250ms $time-cube;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    @media screen and (min-width:$desktop) {
      width: 170px;
    }
  }

  &__icon {
    width: 170px;
    height: 60px;
    margin: 0;
    padding: 0;
    fill: currentColor;
    list-style: none;
  }

}