.feature {
  padding-top: 60px;
  padding-bottom: 60px; 

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $primary-text-color;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  &__title {
    margin: 30px 0 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: $title-text-color;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      text-align: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
       @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
    }

    @media screen and (min-width: $tablet) {
      width: calc((100% - 1 * 30px) / 2);
    }
   
  }

  &__wrapper {
    @include flex_center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    background-color: $color-about;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

}
