.portfolio-box {

  padding-top: 60px;
  padding-bottom:60px;
  @media screen and (min-width:$desktop){
    padding-top: 94px;
    padding-bottom:94px;
  }

}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  p {
    margin-top: 4px;
  }


&__wrapper {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

&__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: $title-text-color;
}

&__item {
 width: 100%;
  border: 1px solid $portfolio-card-borded;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  @media screen and (max-width:$mobil){
    width:100%;
  }

  @media screen and (min-width:$tablet){
    width: 354px;
  }
  @media screen and (min-width:$desktop){
    width: 370px;
  }
}

&__link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms $time-cube;

  &:hover,
  &:focus {
    border: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

      .portfolio__popup-text {
      transform: translateY(0);
    }
  }

}

&__popup {
  position: relative;
  overflow: hidden;
}

&__popup-text {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  color: $white-color;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(140%);
  transition: transform 250ms $time-cube;

  p {
    margin: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }
}
}